@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body{
    background-color: #f5e8c7;
    color:#6f4c5b;
    font-family: "Montserrat", sans-serif;
    min-width: 100vw;
  }
  h1{
    text-align: center;
    margin:2rem;
  }
  .container{
   display:flex;
    margin:4rem auto 7rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  input{
    font-size: large;
  }
  input,label{
    width:20%;
    margin-bottom: 1rem;
  }
  #check-number{
    margin-top:3rem;
    margin:auto;
    margin-bottom: 1rem;
    display:block;
    background-color: #6f4c5b;;
    color:white;
    border-color:#6f4c5b;
    border-width: medium;
    padding:0.5rem;
    border-radius: 0.3rem;
  }
  #output-box{
    font-size: large;
  }
  footer {
    text-align: center;
  }
  footer p{
    text-align: center;
    font-size: x-large;
  }
img{
    width:40px;
}
a,
img,
li {
  display: inline;
  padding: 0.1rem;
}